* {
  margin: 0;
  padding: 0;
}
:root {
  --text-color: white;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
  margin-left: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: rgb(56, 30, 30);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(79, 78, 78);
}
/* Global */
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  width: 100%;
  background-color: rgb(57, 52, 52);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
/* Header */
.navbar,
ul {
  padding: 0;
}
.navbar,
h2 {
  margin: 20px 0px;
}
/* Main */
.main {
  width: fit-content;
  border: 1px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.main h1 {
  color: var(--text-color);
}
/* Post */
.flex-posts {
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 300px;
  padding: 0 16px;
  overflow-y: auto;
}
.post-container {
  border-radius: 6px;
  box-shadow: 1px 3px 6px -4px #fff;
  background: #242424;
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.post-content,
h3 {
  color: var(--text-color);
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-content,
p {
  color: var(--text-color);
  width: 160px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Button */
.btn-container {
  display: flex;
  align-items: center;
}
button {
  font-size: 12px;
  width: 85px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}
button,
button span {
  transition: 200ms;
}
button .text {
  transform: translateX(7px);
  color: white;
  font-weight: bold;
}
button .icon {
  position: relative;
  border-left: 1px solid #c41b1b;
  transform: translateX(25px);
  height: 20px;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button svg {
  width: 10px;
  fill: #eee;
}
button:hover {
  background: #ff3636;
}
button:hover .text {
  color: transparent;
}
button:hover .icon {
  width: 10px;
  border-left: none;
  transform: translateX(0);
}
button:focus {
  outline: none;
}
button:active .icon svg {
  transform: scale(0.8);
}
/* Footer */
footer {
  padding: 16px 0px;
}
footer small {
  font-size: 13px;
  color: var(--text-color);
}
form[disabled] {
  opacity: 0.7;
}
