body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  display: grid;
  place-content: center;
  width: 100%;
  /* height: 100vh; */
}
a {
  text-decoration: none;
}
footer {
  margin-top: 200px;
}
footer small {
  font-size: 13px;
}
form[disabled] {
  opacity: 0.7;
}
